{% extends 'baseAdmin.html' %}
{% load static %}

{% block content%}
<div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Historial de transacciones</h4>

            <div class="card-content table-responsive table-full-width">
             <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                {% for p in retiros_list.all %}
                <tr class="success">
                    <td class="text-center">{{p.pk}}</td>
                    <td>{{ p.usuario}}</td>
                    <td>{{ p.cantidad}}</td>
                </tr>
                  
                {% endfor %}
            
               
            
            </tbody>
            </table>
        </div>
    </div>
</div>        
{% endblock content %}