{% extends "baseAdmin.html" %}

{% load static %}

{% block content %}
<form method="POST" class="form-horizontal">{% csrf_token %}
 <div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">contacts</i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Formulario de retiro</h4>
            <div class="form-group label-floating">
                <h4 class="card-title"><strong>Seleccionar usuario</strong></h4>
                {{ form.usuario}}
            </div>
          
            <div class="form-group label-floating">
                <h4 class="card-title"><strong>Cantidad a pagar</strong></h4>
                {{ form.cantidad}}
            </div>

            
        
            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="{% url 'base' %}" class="btn btn-danger">Cancelar</a>
            
           

            {% if form.cantidad > 50000 %}
              <a href="{% url 'activado' %}" >Enviar Correo de confirmacion</a>
            {% endif %}

        </div>
    </div>
 </div>
</form>


<div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">money_off</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">¿Como retirar grandes cantidades de dinero?</h4>
                <div class="form-group label-floating">
                <button class="btn btn-primary btn-block " onclick="demo.showNotification('top','center')">Informacion</button>
            </div>
            </div>
        </div>
     </div>
{% endblock content%}