{% extends 'baseAdmin.html' %}
{% load static %}

{% block content%}
<div class="material-datatables">
        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                {% for p in personas_list.all %}
                <tr>
                    <td class="text-center">{{p.pk}}</td>
                    <td>{{ p.nombre}}</td>
                    <td>{{ p.saldo}}</td>
                </tr>
                {% endfor %}
            
               
            
            </tbody>
        </table>
</div>
{% endblock content %}